/*import open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

/* Formatting for the whole body */
body {
    background-image: url("/static/images/ernesta-vala-gxt05XHaQ9Q-unsplash.jpg");
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

/* Prevents images overflowing on small screens */
img {
    max-width: 100%;
    height: auto;
}

/* Positioning class for figures */
.float-left {
    float: left;
}

/* Positioning class for figures */
.float-right {
    float: right;
}

/* Figure alignment */
figure {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin-right: 5%;
    margin-left: 5%;
}

/* Gives images in figures box shadows */
figure img {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

/* Font styling for captions */
figcaption {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
}

#logo {
    margin: 1rem;
    max-width: 20%;
    margin-right: auto;
}

/* CSS flexbox for navigation bar */
#nav-flexbox {
    display: flex;
    background-color: rgba(40, 40, 40, 0.8);
    font-size: 2rem;
    flex-direction: row; /* Stack navigation items horizontally */
    width: 100vw; /* Ensure it spans the full width of the screen */
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: 'Amatic SC', sans-serif;
}

#navlink-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;  
}

/* Text formatting for nav bar links */
.navlink {
    text-decoration: none;
    color: white;
    margin: auto;
}

/* Hover effects for nav bar links */
.navlink:hover {
    color: white;
    filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.8));
}

/* Current page underline effect */
.navlink.active {
    text-decoration: underline;
    color: white;
}

.content {
    /* background-color: rgb(231, 231, 231); */
    border: black 1px;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 0;
    position: relative;
}

#header {
    margin-top: 1rem;
}

/* h1 header effects */
h1 {
    font-family: 'Amatic SC', sans-serif;
    color: black;
    text-align: center;
    font-size: 6rem;
    margin: 0.5rem;
    margin-left: 1.5rem;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 2rem;
    margin: 0.8rem;
    margin-left: 0;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 1rem;
    margin: 0.4rem;
    margin-left: 0;
    font-weight: bold;  
}

/* Main section styling */
main {
    justify-content: center;
    font-size: 1.2rem;
    line-height: 200%;
}

article {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Footer styling */
footer {
    border-top: 1px solid black;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.70);
}

/* Footer heart character that changes colour on hover */
.heart {
    color: black;
}

/* Footer heart character hover effect */
.heart:hover {
    color: red;
}

/* Footer button link to return to the top of the page */
#top-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 0.3rem;
    text-decoration: none;
    border: none;
    border-radius: 0.4rem;
    margin-left: 2rem;
    cursor: pointer;
}

/* Footer button link hover effect */
#top-button:hover {
    background-color: #0056b3;
}

/* Error alert style */
.alert-form_error, .alert-message {
    font-weight: bold;
    margin: auto;
    margin-top: 1rem;
    width: fit-content;
    text-align: center;
    color: red;
    background-color: #f8d7da;
    border: 2px solid red;
    padding: 1rem;
}
  
/* Success alert style */
.alert-form_success {
    font-weight: bold;
    margin: auto;
    margin-top: 1rem;
    width: fit-content;
    text-align: center;
    color: green;
    background-color: #d4edda;
    border: 2px solid green;
    padding: 1rem;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.8rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    width: 25rem;
}

.comment-form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    width: 100%;
}

.comments-list {
    padding: 0;
}

/* Darker background colour for odd items */
.comments-list div.odd {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
}

/* Lighter background colour for even items */
.comments-list div.even {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.login-form-button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.6rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
}

.login-form-button:hover {
    background-color: #0056b3;
}

.comment-form-button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.6rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: auto;
}

.comment-form-button:hover {
    background-color: #0056b3;
}

/* Media controls to enable responsive web design at various screen sizes */

@media (max-width: 1025px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #nav-flexbox {
        font-size: 1.5rem;
    }

    main, footer, #btn-top, .alert-form_error, .alert-form_success {
        font-size: 0.8rem;
    }

    #references, figcaption {
        font-size: 0.7rem;
    }

    #header {
        margin-top: 1rem;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 700px) {
    #nav-flexbox {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }

    main, footer, #btn-top, #references, figcaption, .alert-form_error, .alert-form_success {
        font-size: 0.6rem;
    }
}

@media (max-width: 550px) {
    #nav-flexbox {
        font-size: 0.6rem;
    }

    main, footer, #btn-top, #references, figcaption, .alert-form_error, .alert-form_success {
        font-size: 0.6rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 440px) {
    #nav-flexbox, .alert-form_error, .alert-form_success {
        font-size: 0.5rem;
    }
}