{% extends 'base.html' %}

{% block main %}
<article>
    <h2>Programming languages and technologies:</h2>
    <article>
        <ul>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Python (flask)</li>
            <li>HTML, CSS</li>
            <li>SQL</li>
        </ul>
    </article>
    <h2>Work History</h2>
    <article>
        <p><strong>Amazon Logistics – Delivery Station Stoke</strong></p>
        <ul>
            <li>
                <strong>PM Shift Manager</strong> (March 2022 – November 2022)
                <ul>
                    <li>Managed a team of 17 to run 3-4 sortation cycles, monitored on-road performance to ensure 3000+
                        shipments reached customers daily.</li>
                    <li>Established an excellent safety index score of 0% on my team compared to the site average of 7%
                        via regular engagements to encourage a safe working culture.</li>
                    <li>Utilised Kaizen to continuously improve waste recycling rate from 30% to 70% in 4 months.</li>
                </ul>
            </li>
            <li>
                <strong>Delivery Operations Shift Manager</strong> (March 2021 – March 2022)
                <ul>
                    <li>Managed the performance of 22 delivery service providers (DSPs) and oversaw 400+ drivers.</li>
                    <li>Delivered 80k+ shipments during the peak period of 2021 with 99.38% delivery success (99.2%
                        target).</li>
                    <li>Implemented a weekly DSP KPI review process, holding teams accountable, and improved DSP
                        delivery metrics by an average of 3% within 3 months.</li>
                </ul>
            </li>
        </ul>
    </article>
    <h2>Education</h2>
    <article>
        <p><strong>MSc Computing with Placement / Cardiff University, UK</strong> (2023 – 2025)</p>
        <ul>
            <li>Predicted grade: Distinction. Current average grade: 83%</li>
            <li>Notable modules: Databases and Modelling, Algorithms and Data Structures</li>
        </ul>
        <p><strong>BSc Biomedical Science (Hons) / University of Sheffield, UK</strong> (2017 – 2020)</p>
        <ul>
            <li>1st class degree in biomedical science. Notable module: bioinformatics programming in R</li>
            <li>Dissertation Title: Role of Autophagy in Neurodegenerative Disease</li>
        </ul>
        <p><strong>A Levels / Repton School, UK</strong> (2015 – 2017)</p>
        <ul>
            <li>Mathematics – B; Biology – B; Chemistry – C</li>
            <li>AS Mathematics – A</li>
        </ul>
        <p><strong>IGCSEs / Dulwich International College Suzhou, China</strong> (2013 – 2015)</p>
        <p>9 IGCSEs: 5 A*s, 4 As</p>
    </article>
    <h2>Volunteering</h2>
    <article>
        <p><strong>Age UK Telephone Friendship Service</strong> (March 2021 – Present)</p>
        <p>Volunteer as a telephone befriender to make weekly calls to an elderly individual to reduce loneliness and
            isolation.</p>
        <p><strong>Royal Derby Hospital</strong> (September 2016 – July 2017)</p>
        <p>One-year volunteering in the MAU ward at Royal Derby Hospital. Assisted staff at mealtimes to serve food to
            inpatients and developed an insight into the operation of hospitals.</p>
    </article>
</article>
{% endblock %}