{% extends 'base.html' %}

{% block main %}
    <article>
        <p>I'm 25 years old and studying MSc Computing at Cardiff University. I'm at the beginning of my programming journey and working towards becoming a full stack developer!</p>
        <p>Welcome to my website. I'm currently learning the fundamentals of programming, and this dynamic website is a way to showcase all the new skills I’ve been developing! In my website, I’ve made use of Python, JavaScript, HTML, CSS, SQL, as well as libraries such as Flask, SQLAlchemy, Jinja2, Gunicorn, WTForms, bcrypt.</p>
        <p>Please take a look through my site and try out the features!</p>
    </article>
{% endblock %}