{% extends 'base.html' %}

{% block commentsblock %}
  <form class = "comment-form" method = "POST">
    <h2>Comments</h2>

    <ul class = "comments-list">
        {% for comment in comments %}
        <div class="{{ 'even' if loop.index is even else 'odd' }}">
            <strong>{{ comment.name }}</strong> - {{ comment.date.strftime('%d %B %Y') }} &nbsp; {{ comment.date.strftime('%H:%M') }}
            <br>
            {{ comment.text }}
        </div>
        {% endfor %}
    </ul>

    <h3>Leave a new comment</h3>

    <textarea rows = "4" class = "comment-textarea" name = "comment" placeholder = "Enter new comment here"></textarea>
    <div>
      <button type = "submit" class = "comment-form-button">Add Comment</button>
    </div>
  </form>
{% endblock %}
