{% extends 'base.html' %}

{% block main %}
<form class="login-form" action="/login" method="post">
    <!-- Ensures form is protected against CSRF attacks using Flask-WTF -->
    {{ form.csrf_token }}
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter email" autocomplete="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password" autocomplete="current-password"
        required>
    <button type="submit" class="login-form-button">Login</button>

    <p>
        <a href="/signup">Click here to create an account</a>
    </p>
</form>
{% endblock %}