{% extends 'base.html' %}

{% block main %}
<article>
    <p>
        <img src="{{ url_for('static', filename = 'images/github-mark.png') }}" alt = "GitHub Logo" title = "GitHub Logo" width = "60">
        <strong>Visit my GitHub: </strong><a href = "https://github.com/plknowles/">https://github.com/plknowles/</a>
    </p>
    <h2>University Projects</h2>
    <article>
        <ul>
            <li>
                <strong>Dynamic Portfolio Website: </strong><a href = "https://github.com/plknowles/Dynamic-Website-Portfolio">https://github.com/plknowles/Dynamic-Website-Portfolio</a>
                <p>The website you are currently using! I created this website for CMT120. The was my first time creating and deploying a dynamic website to OpenShift. I utilised HTML, CSS, JavaScript, Python, SQL, as well as numerous Python libraries, i.e. Flask, bcrypt, Jinja2, WTForms, SQLAlchemy. I learnt a great deal about templating, routing, HTTP requests.</p>
            </li>
            <li>
                <strong>Python and JavaScript Algorithm Challenges: </strong><a href = "https://github.com/plknowles/Programming-Challenges">https://github.com/plknowles/Programming-Challenges</a>
                <p>This was a part of CMT120. I solved 10 increasingly difficult challenges by creating algorithms in both JavaScript and Python. This was the first time I used either JavaScript or Python.</p>
            </li>
            <li>
                <strong>Static HTML and CSS Website: </strong>
                <p>I made this website for CMT11. It was the first time I made a website that used CSS styling. It was a challenging, yet rewarding process to learn about and incorporate responsive web design.</p>
            </li>
        </ul>
    </article>

    <h2>Personal Projects</h2>
    <article>
        <ul>
            <li>
                <strong>GUI Stopwatch: </strong><a href = "https://github.com/plknowles/Simple-GUI-Calculator">https://github.com/plknowles/Simple-GUI-Calculator</a>
                <br>
                <img src = "{{ url_for('static', filename = 'images/calculator.gif') }}" alt = "Calculator GIF" title = "Calculator GIF" width = "200">
                <p>This was the first program I ever made. I used Java and implemented a GUI.</p>
            </li>
            <li>
                <strong>GUI Calculator: </strong><a href = "https://github.com/plknowles/Stopwatch">https://github.com/plknowles/Stopwatch</a>
                <br>
                <img src = "{{ url_for('static', filename = 'images/stopwatch.gif') }}" alt = "Stopwatch GIF" title = "Stopwatch GIF" width = "200">
                <p>I created this simple GUI calculator that can handle calculations with brackets using Java.</p>
            </li>
        </ul>
    </article>
</article>
{% endblock %}